body{
   
    margin: 50px;
    padding-top: 50px;
}

.container{
    width: 500px;
    margin:auto;
    padding:40px;
    background-color:#F0F8FF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#head_label{
	padding-bottom: 20px;
	font-size: 24px;
}


.form-group{
    margin-bottom:25px;
}

table {
border-collapse: collapse;
width: 100%;
color: #588c7e;
font-family: monospace;
font-size: 25px;
text-align: left;

}
th {
background-color: #588c7e;
color: white;
}
tr:nth-child(even) {background-color: #f2f2f2}